## Michał Ściubisz
## Analiza i Bazy Danych - Grupa 6 - Piątek 8:00

Link do repozytorium:
https://github.com/michalsciubisz/MichalSciubisz_AiBD

In [3]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

In [5]:
# result_set = db.execute("SELECT * FROM city")
# for r in result_set:
#     print(r)

In [6]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

In [7]:
df = pd.read_sql('select * from city', con=connection)
print(df)

     city_id                city  country_id         last_update
0          1  A Corua (La Corua)          87 2006-02-15 09:45:25
1          2                Abha          82 2006-02-15 09:45:25
2          3           Abu Dhabi         101 2006-02-15 09:45:25
3          4                Acua          60 2006-02-15 09:45:25
4          5               Adana          97 2006-02-15 09:45:25
..       ...                 ...         ...                 ...
595      596               Zaria          69 2006-02-15 09:45:25
596      597        Zeleznogorsk          80 2006-02-15 09:45:25
597      598         Zhezqazghan          51 2006-02-15 09:45:25
598      599            Zhoushan          23 2006-02-15 09:45:25
599      600          Ziguinchor          83 2006-02-15 09:45:25

[600 rows x 4 columns]

### Zadanie 1

Ile kategorii filmów mamy w wypożyczalni?

In [32]:
result_1 = db.execute('SELECT COUNT(name) FROM category')

print(tuple(result_1)[0][0])

16

### Zadanie 2

Wyświetl listę kategorii w kolejności alfabetycznej.

In [56]:
result_2 = db.execute('SELECT name FROM category ORDER BY name ASC')

for category in result_2:
    print(category[0])

Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel

### Zadanie 3

Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [62]:
result_3a = db.execute('SELECT title FROM film ORDER BY release_year ASC LIMIT 1')

print(f'Najstarszy film: {tuple(result_3a)[0][0]}')

result_3b = db.execute('SELECT title FROM film ORDER BY release_year DESC LIMIT 1')

print(f'Najmłodszy film: {tuple(result_3b)[0][0]}')

Najstarszy film: Chamber Italian
Najmłodszy film: Chamber Italian

### Zadanie 4

Ile wypożyczeń odbyło się pomiędzy 2005-07-01 a 2005-08-01?

In [78]:
result_4 = db.execute("SELECT COUNT(rental_date) FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'")

print(tuple(result_4)[0][0])

6709

### Zadanie 5

Ile wypożyczeń odbyło się pomiędzy 2010-01-01 a 2011-02-01?

In [79]:
result_5 = db.execute("SELECT COUNT(rental_date) FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'")

print(tuple(result_5)[0][0])

0

### Zadanie 6

Znajdź największą płatność wypożyczenia.